@media (prefers-color-scheme: light) {
	body {
		background-color: #fdf6e3;
	}

	a:link {
		text-shadow: 0.03em 0 #fdf6e3, -0.03em 0 #fdf6e3, 0 0.03em #fdf6e3, 0 -0.03em #fdf6e3, 0.06em 0 #fdf6e3, -0.06em 0 #fdf6e3, 0.09em 0 #fdf6e3, -0.09em 0 #fdf6e3, 0.12em 0 #fdf6e3, -0.12em 0 #fdf6e3, 0.15em 0 #fdf6e3, -0.15em 0 #fdf6e3;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #fdf6e3;
		color: #111;
	}

	a:link {
		text-shadow: 0.03em 0 #fdf6e3, -0.03em 0 #fdf6e3, 0 0.03em #fdf6e3, 0 -0.03em #fdf6e3, 0.06em 0 #fdf6e3, -0.06em 0 #fdf6e3, 0.09em 0 #fdf6e3, -0.09em 0 #fdf6e3, 0.12em 0 #fdf6e3, -0.12em 0 #fdf6e3, 0.15em 0 #fdf6e3, -0.15em 0 #fdf6e3;
	}
}
